{% comment %} Translations {% endcomment %}
{% assign sold_out_t = 'products.sold_out_html' | t %}
{% assign sale_t = 'products.sale' | t %}
{% assign from_t = 'products.from' | t %}
{% assign add_to_cart_t = 'products.add_to_cart' | t %}

{% comment %} Variables {% endcomment %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign hover_image_enabled = settings.hover-image-enabled %}
{% assign show_quick_add = settings.product--show-quick-add-buttons %}
{% assign placeholder_image = 'image' %}
{% assign show_sale_label = settings.product--show-sale-label %}
{% if view == "slider" %}
  {% assign placeholder_image = 'collection' %}
{% endif %}
{% assign label_color = settings.product--label-color %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% unless show_vendor %}
  {% assign show_vendor = settings.product--show-vendor %}
{% endunless %}
{% unless view %}
  {% assign view = 'grid' %}
{% endunless %}
{% unless onboarding %}
  {% assign onboarding = false %}
{% endunless %}

{% if product.media.size > 1 %}
  {% capture hover_image %}
    <div class="product--hover-image">
      {% render 'framework--image', image: product.media[1].preview_image %}
    </div>
  {% endcapture %}
{% else %}
  {% assign hover_image = false %}
{% endif %}

{%- comment -%} if has more than one variant, show all the variant images{%- endcomment -%}
{% if product.variants.size > 1 %}
  {% assign hover_image = false %}
  {% capture variant_image %}
  <div class="product--color-image">
    {% for variant in product.variants %}
      {% if variant.image.attached_to_variant? %}
        {% render 'framework--image', image: variant.image, full_width: true, preview: true %}
      {% endif %}
    {% endfor %}
  </div>
  {% endcapture %}
{% endif %}


{% if onboarding %}
  {% capture image %}
    {%
      render "framework--placeholder",
      type: placeholder_image,
      aspect_ratio: 1,
      placeholder_index: index
    %}
  {% endcapture %}
  {% assign title = 'home.onboarding.product_title' | t %}
  {% assign url = product.url | within: collection %}
  {% assign vendor = 'home.onboarding.vendor' | t %}
  {% assign vendor_url = "#" %}
  {% assign price = 'home.onboarding.price' | t %}
  {% assign compare_price = 'home.onboarding.compare_price' | t %}
  {% assign excerpt = 'home.onboarding.description' | t %}

{% else %}
  {% capture image %}
    {%
      render 'framework--image',
      image: product.featured_media.preview_image,
      full_width: true
    %}
  {% endcapture %}

  {% assign title = product.title %}
  {% assign description = product.description %}
  {% assign url = product.url | within: collection %}
  {% assign vendor = product.vendor %}
  {% assign vendor_url = product.vendor | url_for_vendor %}
  {% assign price = product.price | money_without_trailing_zeros  %}

  {%- comment -%}  split descriptions and assign as array {%- endcomment -%}
  {% assign description_preview = description | split: '--' %}


  {% if product.compare_at_price > product.price and product.available %}
    {% assign compare_price = product.compare_at_price | money_without_trailing_zeros  %}
  {% else %}
    {% assign compare_price = false %}
  {% endif %}

  {% assign excerpt = product.metafields.global.description_tag | newline_to_br %}
  {% if excerpt == blank %}
    {% assign excerpt = product.description | strip_html | truncate: 100 | newline_to_br %}
  {% endif %}

{% endif %}

{% capture display_title %}
  <h3 class="product--title" data-item="paragraph">
    {{ title }}
  </h3>
{% endcapture %}

<!--  show preview description only -->
{% capture display_description %}
  <h3 class="product--description" data-item="paragraph">
    {{ description_preview[0] | strip_html}}
  </h3>
{% endcapture %}

{% capture display_vendor %}
  {% if show_vendor %}
    <div class="product--vendor" data-item="light-accent-text">
      {{ vendor }}
    </div>
  {% endif %}
{% endcapture %}

{% capture display_variants %}
{% if product.has_only_default_variant %}
{%- comment -%}
<div class="product--select-variants" name="id" style="display: none;">
  {% for option in product.options_with_values %}
  {%
    render 'framework--radios--custom',
    option: option,
    id: product.id,
    is_swatches: true,
    has_header: false
  %}
  {% endfor %}
</div>
{%- endcomment -%}
{% else %}
  <div class="product--select-variants" name="id">
    {% for option in product.options_with_values %}
    {%
      render 'framework--radios--custom',
      option: option,
      id: product.id,
      is_swatches: true,
      has_header: false
    %}
    {% endfor %}
  </div>
{% endif %}

{% endcapture %}

{% capture display_prices %}
{% assign compare_price = false %}
  <div class="product--price-container">

    <div class="product--price-wrapper">
      {% if compare_price %}
        <span class="product--compare-price money" data-item="light-accent-text">
          {{ compare_price }}
        </span>
        <span class="product--price money" data-item="accent-text">
          {{ price }}
        </span>
      {% else %}
        {% if product.price_varies %}
          <span class="product--from" data-item="accent-text">
            {{ from_t }}&nbsp;
          </span>
        {% endif %}
        <span class="product--price money" data-item="accent-text">
          {{ price }}
        </span>
      {% endif %}
    </div>

    <div class="product--unit-price-container" data-item="light-accent-text">
      {% if current_variant.unit_price_measurement %}
        <span class="product--unit-price">
          {{- current_variant.unit_price | money_without_trailing_zeros -}}
        </span>/
        {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
          <span class="product--reference-value">
            {{- current_variant.unit_price_measurement.reference_value -}}
          </span>
        {%- endif -%}
        <span class="product--reference-unit">
          {{- current_variant.unit_price_measurement.reference_unit -}}
        </span>
      {% endif %}
    </div>

  </div>
{% endcapture %}

{% capture display_add_to_cart_button %}
<button type="submit" {% unless product.available %} disabled="disabled"{% endunless %} class="product-form--add-to-cart-preview {% if recommendation %}
  eightpx-padding
{% endif %} ">

  {%- if product.available -%}
  <span class="product-form--text">{{ add_to_cart_t }}</span>
  {%- else -%}
  <span class="product-form--text">{{ sold_out_t }}</span>
  {%- endif -%}

  <span
    class="fw--loading_animation tiny"
    data-js-class="FrameworkLoadingAnimation"
  ></span>
  {{ display_prices }}
</button>
{% endcapture%}

{% form 'product', product %}

{% comment %}
<select id="select-variant" name="id" class="product--form--select-variant">
  {%- for variant in product.variants -%}
    <option selected="selected" value="{{ variant.id }}"></option>
  {%- endfor -%}
</select>
{% endcomment%}

<select class="product-form--variant-select" name="id">
  {% for variant in product.variants %}
    <option
      value="{{ variant.id }}"
      data-sku="{{ variant.sku }}"
      {% if variant == current_variant %}
        selected
      {% endif %}
      {% if low_stock_amount > 0 and
        variant.inventory_management == "shopify" and
        variant.inventory_policy == "deny"
      %}
        data-inventory-quantity="{{ variant.inventory_quantity }}"
      {% endif %}
    >
      {{ variant.title }}
    </option>
  {% endfor %}
</select>
  <div
  id="image-container--product-root"
  class="product--root"
  data-product-view="{{ view }}"
  {% if hover_image_enabled and hover_image %}
    data-hover-image="true"
  {% endif %}
  data-label-color="{{ label_color }}"
  >
  {% case view %}
    {% when 'grid' %}
      <a class="product--item" href="{{ url }}" aria-label="{{ product.title }}">
        {% unless product.available or onboarding %}
          <div class="product--sold-out" data-item="accent-text">
            {{ sold_out_t }}
          </div>
        {% elsif compare_price and onboarding == false and show_sale_label %}
          <div class="product--sale" data-item="accent-text">
            {{ sale_t }}
          </div>
        {% endunless %}

        <div class="product--image-wrapper">
          <div class="product--image">
            {% if product.variants.size > 1 %}
              {{ variant_image }}
            {% else %}
              {{ image }}
            {% endif %}
          </div>
          {% if hover_image_enabled and hover_image %}
            {{ hover_image }}
          {% endif %}
        </div>
      </a>
      <div class="product--details
      {% if view_grid %} product--details-grid-image {% endif %}
      {% if recommendation %} half-rem-padding {% endif %}
      {% if product.variants.size > 1 %} min-height-unset {% endif %}"
      >
        {{ display_vendor }}
        <div class="details--header">
          {{ display_title }}
          {{ display_description }}
        </div>
        {{ display_variants }}
        {{ display_option_description }}
        {{ display_add_to_cart_button }}
      </div>

    {% when 'list' %}
      <div class="product--image">
        <a href="{{ url }}" aria-label="{{ product.title }}">
          {{ image }}
        </a>
      </div>

      <div class="product--details">
        {% unless product.available or onboarding %}
          <div class="product--sold-out" data-item="accent-text">
            {{ sold_out_t }}
          </div>
        {% elsif compare_price and onboarding == false and show_sale_label %}
          <div class="product--sale" data-item="accent-text">
            {{ sale_t }}
          </div>
        {% endunless %}

        <div class="product--details--title-row">
          {{ display_prices }}
          <a href="{{ url }}">{{ display_title }}</a>
        </div>

        <a href="{{ vendor_url }}">{{ display_vendor }}</a>

        {% if excerpt.size > 0 %}
          <div class="product--excerpt" data-item="paragraph">
            {{ excerpt }}
          </div>
        {% endif %}

        {% if show_quick_add and product.available %}
          {% render 'partial--quick-add', product: product %}
        {% endif %}

      </div>

    {% when 'slider' %}
    {%- comment -%}
    {% unless product.available or onboarding %}
      <div class="product--sold-out" data-item="accent-text">
        {{ sold_out_t }}
      </div>
    {% elsif compare_price and onboarding == false and show_sale_label %}
      <div class="product--sale" data-item="accent-text">
        {{ sale_t }}
      </div>
    {% endunless %}
    {%- endcomment -%}

      <a href="{{ url }}" aria-label="{{ product.title }}">
        <div class="product--image-wrapper">
          <div class="product--image">
            {% if product.variants.size > 1 %}
              {{ variant_image }}
            {% else %}
              {{ image }}
            {% endif %}
          </div>
          {% if hover_image_enabled and hover_image %}
            {{ hover_image }}
          {% endif %}
        </div>
      </a>

        <div class="product--details">
          {{ display_vendor }}
          <div class="details--header">
            {{ display_title }}
            {{ display_description }}
          </div>
          {{ display_variants }}
          {{ display_option_description }}
          {{ display_add_to_cart_button }}
        </div>

  {% endcase %}
  </div>
{% endform %}



