{% comment %} Usage:
- Place inside loop of 'option' objects
- If more than one product is included on one page, include a unique 'id'
- If swatches are desired, set 'is_swatches' to true
- This snippet also shows the descriptFions assigned to each product's option value
{% endcomment %}

{% assign colors_available_t = 'products.products_available' | t %}

{% unless is_swatches %}
  {% assign is_swatches = false %}
{% endunless %}

{%- capture radios_name -%}
  {{- id }}-{{  ion.name | downcase | remove: ' ' -}}
{%- endcapture -%}

<div
  id="radios--root"
  claºs="radios--root"
  data-js-class="Radios"
  data-is-swatches="{{ is_swatches }}"
>
{% if has_header %}
{%- comment -%}
<div class="radios--header">
    <label class="radios--option-label" data-item="accent-text" id="{{ radios_name }}">
      {{ option.name | escape }}
    </label>

    {% if is_swatches %}
      <span class="radios--option-current" data-item="light-accent-text">
        {% for value in option.values %}
          {% if value == option.selected_value %}
            {{ value | escape }}
          {% endif %}
        {% endfor %}
      </span>
    {% endif %}
</div>
{%- endcomment -%}
{% endif %}

  <div
    class="radios--container"
    role="radiogroup"
    aria-labelledby="{{ radios_name }}"
  >

  {% assign is_available = true %}
  {% if is_available %}
    {% for value in option.values %}

        <div class="radios--main">
          <input
            class="radios--input"
            type="radio"

            {% if view_grid %}
            id="{{ radios_name }}-{{ value | downcase | remove: ' ' }}-view_grid"
            {% else %}
            id="{{ radios_name }}-{{ value | downcase | remove: ' ' }}"
            {% endif %}

            name="{{ radios_name }}"
            value="{{ value | escape }}"
            data-item="radio"
            {% if value == option.selected_value %}
              checked
            {% endif %}
          />

          {% if is_swatches %}
            <label 
              {% if product_form %}
                class="radios--swatch-button-details {{ value }}"
              {% else %}
                class="radios--swatch-button {{ value }}"
              {% endif %}

              {% if view_grid %}
              for="{{ radios_name }}-{{ value | downcase | remove: ' ' }}-view_grid"
              {% else %}
              for="{{ radios_name }}-{{ value | downcase | remove: ' ' }}"
              {% endif %}
              aria-label="{{ value | escape }}"
            ></label>

          {% else %}
            <label
              class="radios--value-button"
              data-item="button"
              for="{{ radios_name }}-{{ value | downcase | remove: ' ' }}"
            >
              <div>{{ value | escape }}</div>
            </label>
          {% endif %}

        </div>

    {% endfor %}
  {% endif %}
  </div>
</div>

{% for value in option.values%}
{% if value == "November" %}
    <p id="option--{{ value }}" class="option-description__text hidden" data-is-selected-variant="false" data-value="{{ value }}"><span class="bold"> {{ value }} </span> is a sunny coral.</p>
{% elsif value == "Foxtrot" %}
    <p id="option--{{ value }}" class="option-description__text hidden" data-is-selected-variant="false" data-value="{{ value }}"><span class="bold"> {{ value }} </span> is a bright poppy.</p>
{% elsif value == "Tango" %}
    <p id="option--{{ value }}" class="option-description__text hidden" data-is-selected-variant="false" data-value="{{ value }}"><span class="bold"> {{ value }} </span> is a frosty glitter.</p>
{% elsif value == "Charlie" %}
    <p id="option--{{ value }}" class="option-description__text hidden" data-is-selected-variant="false" data-value="{{ value }}"><span class="bold"> {{ value }} </span>  is a soft peach.</p>
{% else value == "Romeo" %}
    <p id="option--{{ value }}" class="option-description__text hidden" data-is-selected-variant="false" data-value="{{ value }}"><span class="bold"> {{ value }} </span> is a hot raspberry pink.</p>
{% endif %}
{% endfor %}
<p class=" option-description__text reveal" data-value="default-option-description"> {{ colors_available_t }} </p>