{% comment %} Usage:
- Place inside loop of 'option' objects
- If more than one product is included on one page, include a unique 'id'
- If swatches are desired, set 'is_swatches' to true
- This snippet also shows the descriptFions assigned to each product's option value
{% endcomment %}

{% assign colors_available_t = 'products.products_available' | t %}
{% assign description = product.metafields.color_description %}

{% unless is_swatches %}
  {% assign is_swatches = false %}
{% endunless %}

{%- capture radios_name -%}
  {{- id }}-{{  ion.name | downcase | remove: ' ' -}}
{%- endcapture -%}

<div
  id="radios--root"
  claºs="radios--root"
  data-js-class="Radios"
  data-is-swatches="{{ is_swatches }}"
>
  {% if has_header %}
  <div class="radios--header">
      <label class="radios--option-label" data-item="accent-text" id="{{ radios_name }}">
        {{ option.name | escape }}
      </label>

      {% if is_swatches %}
        <span class="radios--option-current" data-item="light-accent-text">
          {% for value in option.values %}
            {% if value == option.selected_value %}
              {{ value | escape }}
            {% endif %}
          {% endfor %}
        </span>
      {% endif %}
  </div>
  {% endif %}

  <div
    class="radios--container {% if radios_kit %} radios--container--preview-kit {% endif %}"
    role="radiogroup"
    aria-labelledby="{{ radios_name }}"
  >

  {% assign is_available = true %}
  {% if is_available %}
    {% for value in option.values %}

        <div class="radios--main">
          <input
            class="radios--input"
            type="radio"

            {% if view_grid %}
            id="{{ radios_name }}-{{ value | downcase | remove: ' ' }}-view_grid"
            {% else %}
            id="{{ radios_name }}-{{ value | downcase | remove: ' ' }}"
            {% endif %}

            name="{{ radios_name }}"
            value="{{ value | escape }}"
            data-item="radio"
            {% if value == option.selected_value %}
              checked
            {% endif %}
          />

          {% if is_swatches %}
            <label 
              {% if product_form %}
                class="radios--swatch-button-details {{ value | remove: ' '}}"
              {% else %}
                class="radios--swatch-button {{ value | remove: ' '}} {% if radios_kit %} radios--swatch-button--preview-kit {% endif %} {% if product_number %} {{ product_number}} {% endif %}"
              {% endif %}

              {% if view_grid %}
              for="{{ radios_name }}-{{ value | downcase | remove: ' ' }}-view_grid"
              {% else %}
              for="{{ radios_name }}-{{ value | downcase | remove: ' ' }}"
              {% endif %}
              aria-label="{{ value | escape }}"

              data-input="{{product.title | downcase | remove: ' '}}{%- if product_number %}-1{% endif -%}-{{ value | downcase | remove: ' ' }}"
            ></label>

          {% else %}
            <label
              class="radios--value-button"
              data-item="button"
              for="{{ radios_name }}-{{ value | downcase | remove: ' ' }}"
            >
              <div>{{ value | escape }}</div>
            </label>
          {% endif %}

        </div>

    {% endfor %}
  {% endif %}
  </div>
</div>

<div id="{{ radios_name }}">
  {% for value in option.values%}
  <p id="option--{{ value | remove: ' '}}" class="option-description__text hidden" data-is-selected-variant="false" data-value="{{ value | remove: ' '}}"><span class="bold"> {{ value }} </span> {{ description[value] }}</p>
  {% endfor %}
  <p class=" option-description__text reveal" data-value="default-option-description"> {{ product.variants.size }} {{ colors_available_t }}  </p>
</div>