{% assign heading = settings.popup--newsletter--heading %}
{% assign paragraph = settings.popup--newsletter--paragraph %}
{% assign logo = settings.popup.popup--newsletter--logo %}

{% if settings.popup--enabled %}
  <div class="popup--root">


    <div class="popup--logo"></div>


    {% if heading != blank %}
      <div class="popup--heading font--block-heading">
        {{ heading }}
      </div>
    {% endif %}

    {% if paragraph != blank %}
      <div class="popup--paragraph" data-item="paragraph">
        {{ paragraph }}
      </div>
    {% endif %}

    <div id="popup--newsletter--button-affirmative" class="font--button popup--button"> {{ "yes, please" | upcase }} </div>
    <p id="popup--newsletter--no-thanks" class="popup--no-thanks">No, thanks</p>

    {% form 'customer'%}
      <input type="hidden" name="contact[tags]" value="newsletter" />
      <input type="hidden" name="contact[first_name]" value="Newsletter" />
      <input type="hidden" name="contact[last_name]" value="Subscriber" />
      <label for="contact[email]" data-item='hidden-text'>
        {{ 'layout.footer.newsletter_placeholder' | t }}
      </label>
      <input
        class="small"
        type="email"
        placeholder="{{ 'layout.footer.newsletter_placeholder' | t }}"
        name="contact[email]"
        id="contact[email]"
      />
      <input
        class="font--button prefix"
        type="submit"
        value="{{ 'layout.footer.newsletter_button' | t }}"
        name="subscribe"
      />

      {% if form.posted_successfully? or form.errors %}
        <script>window.location.hash = '#feedback-bar--newsletter';</script>
      {% endif %}

      <div data-item="hidden-text">
        {% comment %} remove the below line to display reCAPTCHA badge {% endcomment %}
        <!-- {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }} -->
      </div>
    {% endform %}
  </div>
{% endif %}

