{% comment %} Variables {% endcomment %}
{% assign center_content = section.settings.center-content--enabled %}
{% assign header = section.settings.header %}
{% assign image = section.settings.image %}

<div class="about-us--container">

    <div class="about-us--flex-container">
        <div class="about-us-page--main" data-center-content="{{ center_content }}">
            <h1 class="about-us-page--main--header" data-item="section-heading">
                {{ header }}
            </h1>
            <div class="about-us-page--main--content" data-item="paragraph">
                {{ page.content }}
            </div>
        </div>
    </div>

    <div class="about-us-image-main-container">
        {% for block in section.blocks %}
        <div class="about-us-image--container">

            <div class="about-us-image image--left">
                <img src="{{ block.settings.image_left |  img_url: 'master' }}"
                    alt="{{ block.settings.image_left.alt }}">
            </div>
            <div class="about-us-image image--right">
                <img src="{{ block.settings.image_right |  img_url: 'master' }}"
                    alt="{{ block.settings.image_right.alt }}">
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
  "name": "Page content",
  "settings": [
    {
      "type": "checkbox",
      "id": "center-content--enabled",
      "label": "Center content",
      "default": true
    },
    {
        "type": "text",
        "id": "header",
        "label": "Page header",
        "info": "Header of the page's content",
        "placeholder": "Title!"
    }
  ],
  "blocks": [
  {
    "name": "images",
    "type": "list",
    "settings": [
        {
            "type": "header",
            "content": "Images",
            "info": "Recommended max width: 700px."
        },
        {
            "type": "image_picker",
            "id": "image_left",
            "label": "Left image"
        },
        {
            "type": "image_picker",
            "id": "image_right",
            "label": "Rigth image"
        }
    ]
  }
]
}
{% endschema %}

